<form method="post">
    <label>Id Comic</label>
    <input type="number" name="idcomic" class="form-control"/>


    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control"/>


    <label>Imagen</label>
    <input type="text" name="imagen" class="form-control"/>


    <label>Descripcion</label>
    <input type="text" name="descripcion" class="form-control"/>


    <button>
        Insertar
    </button>
</form>